# CMake build directory
/cmake-build-debug/

# Visual Studio
/out/
/.vs/
/build/

/.vscode/

/Lib/

# Shader binary directory
Resources/Shaders/.vs
Resources/Shaders/out
Resources/Shaders/bin
Resources/Shaders/Reflection/out
Resources/Shaders/RenderGraph/bin

# macOS
.DS_Store

