# CMake build directory
/cmake-build-debug/

# Visual Studio
/out/
/.vs/

# Shader binary directory
Resources/Shaders/RenderGraph/bin
Resources/Shaders/out
Resources/Shaders/Reflection/out

# macOS
.DS_Store

